#AboutMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:120px;
    color: $text-color;
    height: fit-content;
    p{
        width: 80%;
    }
    :nth-child(1){

        p{
            width: 80%;
            padding: 0;
        }
        text-align: left;
        font-family: monospace;
        order:1;
        background-color: $secondary-color;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
        li{
            padding: 0;
        }
        h3{
            width: 100%;
            text-align: center;
            padding:0;
        }
    }
    :nth-child(2){

        text-align: left;
        font-family: monospace;
        order:2;
        background-color: $secondary-color;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
        h3{
            padding: 0;
        }
        ul{
            width: auto;
            text-align: left;
            padding: 0;
        }
        li{
            margin: 0;
            padding:0;
            margin-left: 50px;
            margin-bottom: 5px;
        }
        div{
            text-align: center;
            width: 100%;
            span{
                margin: 10px;
                display: inline-block;
                width: fit-content;
            }
        }
    }
}
@media screen and (max-width: 800px){
    #AboutMain{
    :nth-child(1){
        width: 90%;
    }
    :nth-child(2){
        width: 90%
    }
}}
@media screen and (min-width: 801px){
    #AboutMain{
        :nth-child(1){
            width: 45%;
        }
        :nth-child(2){
            width: 45%
        }
}}